interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/collections
  response:
    body:
      string: "{\"status\":200,\"message\":\"OK\",\"data\":{\"collections\":[{\"id\"\
        :\"MDT-50cm\",\"name\":\"MDT-50cm\",\"type\":\"Collection\",\"links\":[{\"\
        rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\"\
        },{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"\
        },{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"\
        },{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm\"\
        },{\"rel\":\"items\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\"\
        ,\"type\":\"application/geo+json\"},{\"rel\":\"items\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\"\
        ,\"type\":\"application/geo+json\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\"\
        ,\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/queryables\"\
        ,\"type\":\"application/schema+json\",\"title\":\"Queryables\"},{\"rel\":\"\
        http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"type\":\"application/schema+json\"\
        ,\"title\":\"Queryables\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/queryables\"\
        }],\"title\":\"LiDAR \u2013 Modelos Digitais do Terreno - resolu\xE7\xE3o\
        \ 50 cm\",\"extent\":{\"spatial\":{\"bbox\":[[-9.84375,36.5626,-5.866699,42.334184]]},\"\
        temporal\":{\"interval\":[[\"2024-09-19T00:00:00.000000Z\",\"2024-09-19T23:59:59.000000Z\"\
        ]]}},\"license\":\"proprietary\",\"keywords\":[\"LiDAR - Modelos Digitais\
        \ do Relevo\",\"Modelos Digitais de terreno\",\"MDT-50cm\",\"Lidar\"],\"providers\"\
        :[{\"url\":\"https://www.dgterritorio.gov.pt/\",\"name\":\"Direc\xE7\xE3o\
        \ Geral do Territ\xF3rio\",\"roles\":[\"producer\",\"licensor\"]}],\"summaries\"\
        :{\"access\":[\"private\"],\"location\":[\"continente\"],\"visibility\":[\"\
        show\"]},\"description\":\"Modelos Digitais do Terreno do territ\xF3rio de\
        \ Portugal continental  com uma resolu\xE7\xE3o espacial de 50 cm e derivados\
        \ de uma nuvem de pontos LiDAR com uma densidade m\xE9dia de 10 pontos/m2.\
        \  Modelo altim\xE9trico em formato matricial que representa digitalmente\
        \ o solo, n\xE3o sendo consideradas as edifica\xE7\xF5es, a vegeta\xE7\xE3\
        o e outras estruturas artificiais existentes acima do terreno. Zona Noroeste\
        \ ainda indispon\xEDvel.\",\"stac_version\":\"1.0.0\",\"titlePt\":\"LiDAR\
        \ \u2013 Modelos Digitais do Terreno - resolu\xE7\xE3o 50cm\",\"titleEn\"\
        :\"LiDAR \u2013 Digital Elevation  Models - 50cm resolution\",\"descriptionPt\"\
        :\"Modelos Digitais do Terreno do territ\xF3rio de Portugal continental com\
        \ uma resolu\xE7\xE3o espacial de 50cm e derivados de uma nuvem de pontos\
        \ LiDAR com uma densidade m\xE9dia de 10 pontos/m2. Modelo altim\xE9trico\
        \ em formato matricial que representa digitalmente o solo, n\xE3o sendo consideradas\
        \ as edifica\xE7\xF5es, a vegeta\xE7\xE3o e outras estruturas artificiais\
        \ existentes acima do terreno.\",\"descriptionEn\":\"Digital Elevation  Models\
        \ of mainland Portugal with a spatial resolution of 50cm, derived from a LiDAR\
        \ point cloud with an average density of 10 points/m\xB2. A raster-based elevation\
        \ model representing the bare earth, excluding buildings, vegetation, and\
        \ other artificial surface structures.\",\"metadataLink\":\"https://snig.dgterritorio.gov.pt/rndg/srv/por/catalog.search#/metadata/077a8c94-8b46-4a8a-8796-0d7fc4662f0c\"\
        ,\"sectioning\":\"/dgt-fe/data/LiDAR2024_2025_Seccionamento.rar\"},{\"id\"\
        :\"MDT-2m\",\"name\":\"MDT-2m\",\"type\":\"Collection\",\"links\":[{\"rel\"\
        :\"items\",\"type\":\"application/geo+json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-2m/items\"\
        },{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"\
        },{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"\
        },{\"rel\":\"self[...]
[...]
