interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/collections
  response:
    body:
      string: "{\"status\":200,\"message\":\"OK\",\"data\":{\"collections\":[{\"id\":\"MDT-50cm\",\"name\":\"MDT-50cm\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm\"},{\"rel\":\"items\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\",\"type\":\"application/geo+json\"},{\"rel\":\"items\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\",\"type\":\"application/geo+json\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/queryables\",\"type\":\"application/schema+json\",\"title\":\"Queryables\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"type\":\"application/schema+json\",\"title\":\"Queryables\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/queryables\"}],\"title\":\"LiDAR
        \u2013 Modelos Digitais do Terreno - resolu\xE7\xE3o 50 cm\",\"extent\":{\"spatial\":{\"bbox\":[[-9.84375,36.5626,-5.866699,42.334184]]},\"temporal\":{\"interval\":[[\"2024-09-19T00:00:00.000000Z\",\"2024-09-19T23:59:59.000000Z\"]]}},\"license\":\"proprietary\",\"keywords\":[\"LiDAR
        - Modelos Digitais do Relevo\",\"Modelos Digitais de terreno\",\"MDT-50cm\",\"Lidar\"],\"providers\":[{\"url\":\"https://www.dgterritorio.gov.pt/\",\"name\":\"Direc\xE7\xE3o
        Geral do Territ\xF3rio\",\"roles\":[\"producer\",\"licensor\"]}],\"summaries\":{\"access\":[\"private\"],\"location\":[\"continente\"],\"visibility\":[\"show\"]},\"description\":\"Modelos
        Digitais do Terreno do territ\xF3rio de Portugal continental  com uma resolu\xE7\xE3o
        espacial de 50 cm e derivados de uma nuvem de pontos LiDAR com uma densidade
        m\xE9dia de 10 pontos/m2.  Modelo altim\xE9trico em formato matricial que
        representa digitalmente o solo, n\xE3o sendo consideradas as edifica\xE7\xF5es,
        a vegeta\xE7\xE3o e outras estruturas artificiais existentes acima do terreno.
        Zona Noroeste ainda indispon\xEDvel.\",\"stac_version\":\"1.0.0\",\"titlePt\":\"LiDAR
        \u2013 Modelos Digitais do Terreno - resolu\xE7\xE3o 50cm\",\"titleEn\":\"LiDAR
        \u2013 Digital Elevation  Models - 50cm resolution\",\"descriptionPt\":\"Modelos
        Digitais do Terreno do territ\xF3rio de Portugal continental com uma resolu\xE7\xE3o
        espacial de 50cm e derivados de uma nuvem de pontos LiDAR com uma densidade
        m\xE9dia de 10 pontos/m2. Modelo altim\xE9trico em formato matricial que representa
        digitalmente o solo, n\xE3o sendo consideradas as edifica\xE7\xF5es, a vegeta\xE7\xE3o
        e outras estruturas artificiais existentes acima do terreno.\",\"descriptionEn\":\"Digital
        Elevation  Models of mainland Portugal with a spatial resolution of 50cm,
        derived from a LiDAR point cloud with an average density of 10 points/m\xB2.
        A raster-based elevation model representing the bare earth, excluding buildings,
        vegetation, and other artificial surface structures.\",\"metadataLink\":\"https://snig.dgterritorio.gov.pt/rndg/srv/por/catalog.search#/metadata/077a8c94-8b46-4a8a-8796-0d7fc4662f0c\",\"sectioning\":\"/dgt-fe/data/LiDAR2024_2025_Seccionamento.rar\"},{\"id\":\"MDT-2m\",\"name\":\"MDT-2m\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-2m/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https:[...]
- request:
    body: '{"limit": 1000, "collections": ["LAZ"], "intersects": {"type": "Polygon",
      "coordinates": [[[-9.1, 38.7], [-9.1, 38.75], [-9.15, 38.75], [-9.15, 38.7],
      [-9.1, 38.7]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"limit":1000,"returned":35},"features":[{"id":"LO-113194-07-2024","bbox":[-9.133328399,38.70018291,-23.761,-9.12170919,38.70928751,84.037],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/LAZ"},{"rel":"parent","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/LAZ"},{"rel":"root","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/"},{"rel":"self","type":"application/geo+json","href":"https://dgt-be.a.incd.pt:8081/collections/LAZ/items/LO-113194-07-2024"}],"assets":{"data":{"href":"https://cdd.dgterritorio.gov.pt/dgt-be/v1/download/06fea92f424c0d78bbbb925cf95860de0b6c3aa811420cf88c8bbe5fd55ab00a","type":"application/vnd.laszip","roles":["data"]}},"geometry":{"type":"Polygon","coordinates":[[[-9.13320291977451,38.70018291292299,-23.761],[-9.13332839853667,38.70918973749104,-23.761],[-9.121833227268677,38.70928751122279,84.037],[-9.121709190013187,38.70028065536382,84.037],[-9.13320291977451,38.70018291292299,-23.761]]]},"collection":"LAZ","properties":{"pc:type":"Lidar","version":"01","datetime":"2025-07-16T09:05:29Z","pc:count":5032883,"file:size":60869550,"proj:bbox":[-87000,-107000,-23.761,-86000.001,-106000.001,84.037],"proj:wkt2":"PROJCS[\"ETRS89
        / Portugal TM06\",GEOGCS[\"ETRS89\",DATUM[\"European_Terrestrial_Reference_System_1989\",SPHEROID[\"GRS
        1980\",6378137,298.257222101,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6258\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.0174532925199433,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4258\"]],PROJECTION[\"Transverse_Mercator\"],PARAMETER[\"latitude_of_origin\",39.668258333],PARAMETER[\"central_meridian\",-8.133108333],PARAMETER[\"scale_factor\",1],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]],AXIS[\"Easting\",EAST],AXIS[\"Northing\",NORTH],AUTHORITY[\"EPSG\",\"3763\"]]","published":"2025-07-16T09:05:29Z","pc:schemas":[{"name":"X","size":8,"type":"floating"},{"name":"Y","size":8,"type":"floating"},{"name":"Z","size":8,"type":"floating"},{"name":"Intensity","size":2,"type":"unsigned"},{"name":"ReturnNumber","size":1,"type":"unsigned"},{"name":"NumberOfReturns","size":1,"type":"unsigned"},{"name":"ScanDirectionFlag","size":1,"type":"unsigned"},{"name":"EdgeOfFlightLine","size":1,"type":"unsigned"},{"name":"Classification","size":1,"type":"unsigned"},{"name":"Synthetic","size":1,"type":"unsigned"},{"name":"KeyPoint","size":1,"type":"unsigned"},{"name":"Withheld","size":1,"type":"unsigned"},{"name":"Overlap","size":1,"type":"unsigned"},{"name":"ScanAngleRank","size":4,"type":"floating"},{"name":"UserData","size":1,"type":"unsigned"},{"name":"PointSourceId","size":2,"type":"unsigned"},{"name":"GpsTime","size":8,"type":"floating"},{"name":"ScanChannel","size":1,"type":"unsigned"},{"name":"Red","size":2,"type":"unsigned"},{"name":"Green","size":2,"type":"unsigned"},{"name":"Blue","size":2,"type":"unsigned"},{"name":"Infrared","size":2,"type":"unsigned"}],"pc:encoding":".laz","pc:statistics":[{"name":"X","count":5032883,"stddev":295.5385053,"average":-86575.73096,"maximum":-86000.001,"minimum":-87000,"position":0,"variance":87343.00812},{"name":"Y","count":5032883,"stddev":313.5626074,"average":-106415.8285,"maximum":-106000.001,"minimum":-107000,"position":1,"variance":98321.50877},{"name":"Z","count":5032883,"stddev":5.072421401,"average":1.716396958,"maximum":84.037,"minimum":-23.761,"position":2,"variance":25.72945887},{"name":"Intensity","count":5032883,"stddev":6607.86991,"average":39249.42109,"maximum":65535,"minimum":26913,"position":3,"variance":43663944.74},{"name":"ReturnNumber","count":5032883,"stddev":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dgt-be.a.incd.pt:8081/
  response:
    body:
      string: "{\"type\":\"Catalog\",\"id\":\"stac-fastapi\",\"title\":\"stac-fastapi\",\"description\":\"stac-fastapi\",\"stac_version\":\"1.0.0\",\"conformsTo\":[\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson\",\"https://api.stacspec.org/v1.0.0/collections/extensions/transaction\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-text\",\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-json\",\"https://api.stacspec.org/v1.0.0/item-search#query\",\"https://api.stacspec.org/v1.0.0/item-search#fields\"[...]
[...]
