interactions:
- request:
    body: '{"limit": 5, "collections": ["LAZ"], "intersects": {"type": "Polygon",
      "coordinates": [[[-9.1, 38.7], [-9.1, 38.75], [-9.15, 38.75], [-9.15, 38.7],
      [-9.1, 38.7]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"limit":5,"returned":5},"features":[{"id":"LO-113194-07-2024","bbox":[-9.133328399,38.70018291,-23.761,-9.12170919,38.70928751,84.037],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/LAZ"},{"rel":"parent","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/LAZ"},{"rel":"root","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/"},{"rel":"self","type":"application/geo+json","href":"https://dgt-be.a.incd.pt:8081/collections/LAZ/items/LO-113194-07-2024"}],"assets":{"data":{"href":"https://cdd.dgterritorio.gov.pt/dgt-be/v1/download/d640b5f5875a9cd964463cbc7b397f44d2439adea20888c5765b6d109f077850","type":"application/vnd.laszip","roles":["data"]}},"geometry":{"type":"Polygon","coordinates":[[[-9.13320291977451,38.70018291292299,-23.761],[-9.13332839853667,38.70918973749104,-23.761],[-9.121833227268677,38.70928751122279,84.037],[-9.121709190013187,38.70028065536382,84.037],[-9.13320291977451,38.70018291292299,-23.761]]]},"collection":"LAZ","properties":{"pc:type":"Lidar","version":"01","datetime":"2025-07-16T09:05:29Z","pc:count":5032883,"file:size":60869550,"proj:bbox":[-87000,-107000,-23.761,-86000.001,-106000.001,84.037],"proj:wkt2":"PROJCS[\"ETRS89
        / Portugal TM06\",GEOGCS[\"ETRS89\",DATUM[\"European_Terrestrial_Reference_System_1989\",SPHEROID[\"GRS
        1980\",6378137,298.257222101,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6258\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.0174532925199433,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4258\"]],PROJECTION[\"Transverse_Mercator\"],PARAMETER[\"latitude_of_origin\",39.668258333],PARAMETER[\"central_meridian\",-8.133108333],PARAMETER[\"scale_factor\",1],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]],AXIS[\"Easting\",EAST],AXIS[\"Northing\",NORTH],AUTHORITY[\"EPSG\",\"3763\"]]","published":"2025-07-16T09:05:29Z","pc:schemas":[{"name":"X","size":8,"type":"floating"},{"name":"Y","size":8,"type":"floating"},{"name":"Z","size":8,"type":"floating"},{"name":"Intensity","size":2,"type":"unsigned"},{"name":"ReturnNumber","size":1,"type":"unsigned"},{"name":"NumberOfReturns","size":1,"type":"unsigned"},{"name":"ScanDirectionFlag","size":1,"type":"unsigned"},{"name":"EdgeOfFlightLine","size":1,"type":"unsigned"},{"name":"Classification","size":1,"type":"unsigned"},{"name":"Synthetic","size":1,"type":"unsigned"},{"name":"KeyPoint","size":1,"type":"unsigned"},{"name":"Withheld","size":1,"type":"unsigned"},{"name":"Overlap","size":1,"type":"unsigned"},{"name":"ScanAngleRank","size":4,"type":"floating"},{"name":"UserData","size":1,"type":"unsigned"},{"name":"PointSourceId","size":2,"type":"unsigned"},{"name":"GpsTime","size":8,"type":"floating"},{"name":"ScanChannel","size":1,"type":"unsigned"},{"name":"Red","size":2,"type":"unsigned"},{"name":"Green","size":2,"type":"unsigned"},{"name":"Blue","size":2,"type":"unsigned"},{"name":"Infrared","size":2,"type":"unsigned"}],"pc:encoding":".laz","pc:statistics":[{"name":"X","count":5032883,"stddev":295.5385053,"average":-86575.73096,"maximum":-86000.001,"minimum":-87000,"position":0,"variance":87343.00812},{"name":"Y","count":5032883,"stddev":313.5626074,"average":-106415.8285,"maximum":-106000.001,"minimum":-107000,"position":1,"variance":98321.50877},{"name":"Z","count":5032883,"stddev":5.072421401,"average":1.716396958,"maximum":84.037,"minimum":-23.761,"position":2,"variance":25.72945887},{"name":"Intensity","count":5032883,"stddev":6607.86991,"average":39249.42109,"maximum":65535,"minimum":26913,"position":3,"variance":43663944.74},{"name":"ReturnNumber","count":5032883,"stddev":[...]
- request:
    body: '{"limit": 5, "collections": ["LAZ"], "intersects": {"type": "Polygon",
      "coordinates": [[[-9.1, 38.7], [-9.1, 38.75], [-9.15, 38.75], [-9.15, 38.7],
      [-9.1, 38.7]]]}, "token": "next:LAZ:LO-114197-07-2024"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/search?undefined
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"limit":5,"returned":5},"features":[{"id":"LO-114196-07-2024","bbox":[-9.122081457,38.71829437,-16.679,-9.11046064,38.7273979,151.295],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/coll[...]
[...]
