interactions:
- request:
    body: '{"limit": 10, "collections": ["MDT-2m"], "intersects": {"type": "Polygon",
      "coordinates": [[[-9.126349614063367, 38.70334521584983], [-9.13209740894674,
      38.70334513247748], [-9.13209740894674, 38.70747642257685], [-9.12640677428321,
      38.707476506513835], [-9.126349614063367, 38.70334521584983]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"limit":10,"returned":1},"features":[{"id":"MDT-2m-113194-07-2024","bbox":[-87000,2,0,-106000,0,-2],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/MDT-2m"},{"rel":"parent","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/MDT-2m"},{"rel":"root","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/"},{"rel":"self","type":"application/geo+json","href":"https://dgt-be.a.incd.pt:8081/collections/MDT-2m/items/MDT-2m-113194-07-2024"}],"assets":{"data":{"href":"https://cdd.dgterritorio.gov.pt/dgt-be/v1/download/201371da7cddc8988799b08fe5ac9be387005d28755ff835da914b0bc2c855ad","type":"image/tiff;
        application=geotiff","roles":["data","visual"]}},"geometry":{"type":"Polygon","coordinates":[[[-9.1333284,38.7091897],[-9.1332029,38.7001829],[-9.1217092,38.7002807],[-9.1218332,38.7092875],[-9.1333284,38.7091897]]]},"collection":"MDT-2m","properties":{"bands":[{"band":1,"type":"Float32","block":[500,4],"metadata":{},"noDataValue":-999,"colorInterpretation":"Gray"}],"version":"01","datetime":"2025-07-16T09:05:29Z","file:size":1001129,"proj:wkt2":"PROJCRS[\"ETRS89
        / Portugal TM06\",\n    BASEGEOGCRS[\"ETRS89\",\n        ENSEMBLE[\"European
        Terrestrial Reference System 1989 ensemble\",\n            MEMBER[\"European
        Terrestrial Reference Frame 1989\"],\n            MEMBER[\"European Terrestrial
        Reference Frame 1990\"],\n            MEMBER[\"European Terrestrial Reference
        Frame 1991\"],\n            MEMBER[\"European Terrestrial Reference Frame
 [...]
[...]
