interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/collections
  response:
    body:
      string: "{\"status\":200,\"message\":\"OK\",\"data\":{\"collections\":[{\"id\":\"MDT-50cm\",\"name\":\"MDT-50cm\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm\"},{\"rel\":\"items\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\",\"type\":\"application/geo+json\"},{\"rel\":\"items\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/items\",\"type\":\"application/geo+json\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/queryables\",\"type\":\"application/schema+json\",\"title\":\"Queryables\"},{\"rel\":\"http://www.opengis.net/def/rel/ogc/1.0/queryables\",\"type\":\"application/schema+json\",\"title\":\"Queryables\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-50cm/queryables\"}],\"title\":\"LiDAR
        \u2013 Modelos Digitais do Terreno - resolu\xE7\xE3o 50 cm\",\"extent\":{\"spatial\":{\"bbox\":[[-9.84375,36.5626,-5.866699,42.334184]]},\"temporal\":{\"interval\":[[\"2024-09-19T00:00:00.000000Z\",\"2024-09-19T23:59:59.000000Z\"]]}},\"license\":\"proprietary\",\"keywords\":[\"LiDAR
        - Modelos Digitais do Relevo\",\"Modelos Digitais de terreno\",\"MDT-50cm\",\"Lidar\"],\"providers\":[{\"url\":\"https://www.dgterritorio.gov.pt/\",\"name\":\"Direc\xE7\xE3o
        Geral do Territ\xF3rio\",\"roles\":[\"producer\",\"licensor\"]}],\"summaries\":{\"access\":[\"private\"],\"location\":[\"continente\"],\"visibility\":[\"show\"]},\"description\":\"Modelos
        Digitais do Terreno do territ\xF3rio de Portugal continental  com uma resolu\xE7\xE3o
        espacial de 50 cm e derivados de uma nuvem de pontos LiDAR com uma densidade
        m\xE9dia de 10 pontos/m2.  Modelo altim\xE9trico em formato matricial que
        representa digitalmente o solo, n\xE3o sendo consideradas as edifica\xE7\xF5es,
        a vegeta\xE7\xE3o e outras estruturas artificiais existentes acima do terreno.
        Zona Noroeste ainda indispon\xEDvel.\",\"stac_version\":\"1.0.0\",\"titlePt\":\"LiDAR
        \u2013 Modelos Digitais do Terreno - resolu\xE7\xE3o 50cm\",\"titleEn\":\"LiDAR
        \u2013 Digital Elevation  Models - 50cm resolution\",\"descriptionPt\":\"Modelos
        Digitais do Terreno do territ\xF3rio de Portugal continental com uma resolu\xE7\xE3o
        espacial de 50cm e derivados de uma nuvem de pontos LiDAR com uma densidade
        m\xE9dia de 10 pontos/m2. Modelo altim\xE9trico em formato matricial que representa
        digitalmente o solo, n\xE3o sendo consideradas as edifica\xE7\xF5es, a vegeta\xE7\xE3o
        e outras estruturas artificiais existentes acima do terreno.\",\"descriptionEn\":\"Digital
        Elevation  Models of mainland Portugal with a spatial resolution of 50cm,
        derived from a LiDAR point cloud with an average density of 10 points/m\xB2.
        A raster-based elevation model representing the bare earth, excluding buildings,
        vegetation, and other artificial surface structures.\",\"metadataLink\":\"https://snig.dgterritorio.gov.pt/rndg/srv/por/catalog.search#/metadata/077a8c94-8b46-4a8a-8796-0d7fc4662f0c\",\"sectioning\":\"/dgt-fe/data/LiDAR2024_2025_Seccionamento.rar\"},{\"id\":\"MDT-2m\",\"name\":\"MDT-2m\",\"type\":\"Collection\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://dgt-be.a.incd.pt:8081/collections/MDT-2m/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://dgt-be.a.incd.pt:8081/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https:[...]
- request:
    body: '{"limit": 1000, "collections": ["MDT-2m"], "intersects": {"type": "Polygon",
      "coordinates": [[[-9.121709178519417, 38.70028065546099], [-9.13320291977451,
      38.70018291292298], [-9.133328398662176, 38.709189746497856], [-9.133453933662068,
      38.71819656581665], [-9.121957308743466, 38.71829437094436], [-9.121833215897531,
      38.70928752032685], [-9.121709178519417, 38.70028065546099]]]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cdd.dgterritorio.gov.pt/dgt-be/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","context":{"limit":1000,"returned":7},"features":[{"id":"MDT-2m-113194-07-2024","bbox":[-87000,2,0,-106000,0,-2],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/MDT-2m"},{"rel":"parent","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/collections/MDT-2m"},{"rel":"root","type":"application/json","href":"https://dgt-be.a.incd.pt:8081/"},{"rel":"self","type":"application/geo+json","href":"https://dgt-be.a.incd.pt:8081/collections/MDT-2m/items/MDT-2m-113194-07-2024"}],"assets":{"data":{"href":"https://cdd.dgterritorio.gov.pt/dgt-be/v1/download/aebb507c98515f8b04257ca3959bb79f273f1d1d52847701208f2240af44e129","type":"image/tiff;
        application=geotiff","roles":["data","visual"]}},"geometry":{"type":"Polygon","coordinates":[[[-9.1333284,38.7091897],[-9.1332029,38.7001829],[-9.1217092,38.7002807],[-9.1218332,38.7092875],[-9.1333284,38.7091897]]]},"collection":"MDT-2m","properties":{"bands":[{"band":1,"type":"Float32","block":[500,4],"metadata":{},"noDataValue":-999,"colorInterpretation":"Gray"}],"version":"01","datetime":"2025-07-16T09:05:29Z","file:size":1001129,"proj:wkt2":"PROJCRS[\"ETRS89
        / Portugal TM06\",\n    BASEGEOGCRS[\"ETRS89\",\n        ENSEMBLE[\"European
        Terrestrial Reference System 1989 ensemble\",\n            MEMBER[\"European
        Terrestrial Reference Frame 1989\"],\n            MEMBER[\"European Terrestrial
        Reference Frame 1990\"],\n            MEMBER[\"European Terrestrial Reference
        Frame 1991\"],\n            MEMBER[\"European Terrestrial Reference Frame
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://dgt-be.a.incd.pt:8081/
  response:
    body:
      string: "{\"type\":\"Catalog\",\"id\":\"stac-fastapi\",\"title\":\"stac-fastapi\",\"description\":\"stac-fastapi\",\"stac_version\":\"1.0.0\",\"conformsTo\":[\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter\",\"http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson\",\"https://api.stacspec.org/v1.0.0/collections/extensions/transaction\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-text\",\"http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter\",\"http://www.opengis.net/spec/cql2/1.0/conf/cql2-json\",\"https://api.stacspec.org/v1.0.0/item-search#query\",\"https://api.stacspec.org/v1.0.0/item-search#fields\"[...]
[...]
